body {
	background-image: url("../images/space.jpg");
}

img {
	width: 20%;
	margin: 10px;
	float: left;
	border: 1px;
	border-color: #fff;
	display: inline;
	border-style: solid;
}

h3 {
	color: #fff;
}

header {
	font-weight: bold;
	font-size: 50px;
	color: #fff;
	text-align: center;
}

#button {
	margin: 60px;
}

.the-doctor {
	background-image: url("../images/the-doctor.jpg");
}

.green {
	border-style: solid;
	border-color: green;
	border: 1px;
}

.red {
	border-style: solid;
	border-color: red;
	border: 1px;
}


